/*Headers*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
/*body*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@700&display=swap');

/*---------------css for index and quiz----------------*/
body {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 20px;
    color: #333;
    text-align: center;
    background-image: url(../images/background.jpg);
}

a:visited {
    color: #0800ff;
    text-decoration: none;
}

.fab {
    background: white;
    padding: 5px;
    border-radius: 50%;
}

.quiz-container {
    position: relative;
    margin: 40px 0 0 0;
    height: 12em;
    width: 24em;
    left: 26em;
    background-color: #f9f9f9e8;
    padding: 10px;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 34px;
    border: solid white;
    color: #fff;
    width: 21em;
    left: 27%;
    position: relative;
}

.h2 {
    font-family: 'Libre Baskerville', serif;
    color: white;
}

#start_quiz {
    background-color: #11ff0696;
    position: absolute;
    top: 7em;
    left: 36%;
    padding: 10px;
    border-radius: 27%;
    text-decoration: none;
    color: black;
    font-size: 47px;
    border: solid white 6px;
}

#start_quiz:hover {
    background-color: #11ff0696;
    font-weight: bold;
    padding: 2em;
    top: 5.2em;
    left: 10.7em;
    font-size: 47px;
}

#circle {
    font-size: 11px;
    background-color: #fff;
    color: #000;
    width: 22em;
    left: 28em;
    position: absolute;
    border-radius: 50%;
    padding: 16px;
    top: 15em;
    z-index: 3;
    box-shadow: 0 0 7px 3px;
}

.question {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.answers {
    text-align: left;
    margin-bottom: 20px;
    display: inline-block;
}

.answers label {
    display: block;
    margin-top: 14px;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
}

.slide {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

#results {
    color: white;
    font-size: 25px;
    background-color: black;
}

#feedback_button {
    background-color: white;
    position: absolute;
    top: 2em;
    left: 58%;
    padding: 10px;
    border-radius: 27%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#feedback_button:hover {
    background-color: rgba(255, 175, 2, 0.705);
    box-shadow: rgb(255, 175, 2) 0 0 10px 7px;
}

button {
    margin: 10px 91px 0 32px;
    padding: 20px;
    font-size: 22px;
    background-color: grey;
    color: #fff;
    border: 0px;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #01ff01a6;
    box-shadow: 0 0 10px 7px #01ff01;
}

#home_button {
    background-color: white;
    position: absolute;
    top: 29em;
    left: 38%;
    padding: 10px;
    border-radius: 27%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#home_button:hover {
    background-color: rgba(255, 2, 2, 0.705);
    box-shadow: rgb(255, 2, 2) 0 0 10px 7px;
}

/*---------------css for feedback----------------*/
.feedback_form {
    border: solid white 4px;
    width: fit-content;
    position: absolute;
    left: 24%;
    padding: 0px 50px 100px 50px;
    box-shadow: 0 0 7px 4px grey;
    background-color: #000000c7;
}

.label {
    display: block;
    color: white;
    padding: 9px 0 0 0;
}

#submit_form {
    font-family: 'M PLUS 1 Code', sans-serif;
    background-color: white;
    position: absolute;
    top: 24.4em;
    left: 44%;
    padding: 8px;
    border-radius: 27%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

#submit_form:hover {
    background-color: #01ff01a6;
    box-shadow: 0 0 10px 7px #01ff01;
}

#clear_form {
    font-family: 'M PLUS 1 Code', sans-serif;
    background-color: white;
    position: absolute;
    top: 24.4em;
    left: 63%;
    padding: 8px;
    border-radius: 27%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

#clear_form:hover {
    background-color: rgba(255, 175, 2, 0.705);
    box-shadow: rgb(255, 175, 2) 0 0 10px 7px;
}

#form_info {
    margin: 0 0 30px 0;
}

/* ---------------Modal---------------*/
.modal {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: -85px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}

/* Modal Content/Box */
.modal-content {
    margin: 15% auto;
    width: 50%;
    background-color: white;
    padding: 20px 20px 60px 20px;
    box-shadow: 0 0 20px 10px #a3a3a3;
}

/* The Close Button */
.close {
    font-weight: bold;
    padding: 10px;
    border-radius: 27%;
    background-color: #a3a3a3;
    color: black;
    position: relative;
    top: 25px;
}

.close:hover,
.close:focus {
    cursor: pointer;
    background-color: rgba(255, 2, 2, 0.705);
    box-shadow: rgb(255, 2, 2) 0 0 10px 7px;
}

/*---------------@media sections----------------*/

@media screen and (max-width: 1000px) {
    body {
        margin: 0;
        background-image: none;
        background-color: #000;
    }

    h1 {
        left: 6%;
    }

    #start_quiz {
        left: 23%;
    }

    #start_quiz:hover {
        background-color: #11ff0696;
        position: absolute;
        top: 7em;
        left: 20%;
        padding: 10px;
        border-radius: 27%;
        text-decoration: none;
        color: black;
        font-size: 47px;
        border: solid white 6px;
    }

    .quiz-container {
        font-size: 18px;
        position: relative;
        margin: 0;
        width: 80%;
        left: 5%;
        top: 20%;
        padding: 20px 39px 50px 39px;
    }

    #circle {
        left: 0%;
        top: 23%;
    }

    #feedback_button {
        top: 56%;
        left: 56%;
    }

    #home_button {
        top: 56%;
        left: 28%;
    }

    .modal-content {
        margin: 50% auto;
    }

    /*-----Feedback Form-----*/

    .feedback_form {
        left: 7%;
        width: 72%;
        top: 4em;
        padding: 0 50px 50px 50px;
    }

    #submit_form {
        position: absolute;
        top: 26em;
        left: 15em;
    }

    #clear_form {
        position: absolute;
        top: 26em;
        left: 23em;
    }

}

@media screen and (max-width: 800px) {
    .quiz-container {
        font-size: 18px;
        position: relative;
        margin: 0;
        width: 80%;
        left: 4%;
        top: 8em;
        padding: 20px 39px 50px 39px;
    }

    #start_quiz {
        left: 13%;
    }

    #start_quiz:hover {
        left: 0em;
    }

    #circle {
        left: 5.5em;
        top: 7em;
    }

    h1 {
        left: 9%;
        width: 70%;
        margin: 15px 0 0 0;
    }

    #feedback_button {
        top: 37em;
        left: 10em;
    }

    #home_button {
        top: 37em;
        left: 5em;
    }

    #next {
        position: absolute;
        top: 27em;
        left: 12em;
    }

    #previous {
        position: absolute;
        top: 27em;
        left: -6%;
    }

    #submit {
        position: absolute;
        top: 27em;
        left: 5em;
    }

    /*-----Feedback Form-----*/

    .feedback_form {
        left: 0;
        width: 72%;
        top: 4em;
        padding: 0 50px 50px 50px;
        border: none;
        box-shadow: none;
    }

    #form_info {
        width: 23em;
    }

    #submit_form {
        position: absolute;
        top: 27.5em;
        left: 12em;
    }

    #clear_form {
        position: absolute;
        top: 27.5em;
        left: 5em;
    }
}

@media screen and (max-width: 400px) {

    #start_quiz {
        left: 0;
    }

    #next {
        position: absolute;
        top: 27em;
        left: 10em;
    }

    #previous {
        position: absolute;
        top: 27em;
        left: -1em;
    }

    #submit {
        position: absolute;
        top: 27em;
        left: 5em;
    }

    #feedback_button {
        top: 34.5em;
        left: 10em;
    }

    #home_button {
        top: 34.5em;
        left: 5em;
    }

    /*-----Feedback Form-----*/

    .feedback_form {
        width: 70%;
        padding: 0 50px 196px 50px;
        border: none;
        box-shadow: none;
    }

    #form_info {
        width: 22em;
        left: 2em;
        position: absolute;
    }

    #submit_form {
        position: absolute;
        top: 27em;
        left: 10em;
    }

    #clear_form {
        position: absolute;
        top: 27em;
        left: 4.7em;
    }

}

@media screen and (max-width: 320px) {

    #start_quiz {
        left: 15px;
        top: 10em;
        font-size: 30px;
    }

    #start_quiz:hover {
        top: 10em;
        left: 15px;
        font-size: 30px;
    }

    h1 {
        font-size: 25px;
        left: 14%;
        margin: 5px 0 0 0;
    }

    #header_fix {
        font-size: 18px;
    }

    .question {
        font-size: 18px;
    }

    .quiz-container {
        font-size: 14px;
        width: 69%;
        padding: 40px 39px 20px 39px;
    }

    button {
        padding: 14px;
        font-size: 15px;
    }

    #circle {
        left: 3em;
        top: 5em;
        font-size: 10px;
        padding: 16px;
    }

    #next {
        top: 25em;
        left: 6em;
    }

    #previous {
        position: absolute;
        top: 25em;
        left: -1em;
    }

    #submit {
        position: absolute;
        top: 25em;
        left: 13em;
    }

    #feedback_button {
        top: 24.3em;
        left: 12em;
        font-size: 18px;
    }

    #home_button {
        top: 24.3em;
        left: 1em;
        font-size: 18px;

    }

    .modal {
        width: 100%;
    }

    .modal-content {
        margin: 0%;
        width: 80%;
        top: 7em;
        left: 0.6em;
        position: absolute;
    }

    /*-----Feedback Form-----*/

    #feedback_font {
        font-size: 13px;
        margin: 0;
        top: -2.5em;
        left: 14px;
        position: absolute;
    }

    .label {
        padding: 5px 0 0 0;
        font-size: 15px;
    }

    #form_info {
        left: 0.8em;
    }

    #submit_form {
        font-size: 18px;
        top: 19.9em;
        left: 11em;
    }

    #clear_form {
        font-size: 18px;
        top: 19.9em;
        left: 6em;
    }
}