/*Headers*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
/*body*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@700&display=swap');
/*---------------css for index and quiz----------------*/
body{
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 20px;
    color: #333;
    text-align: center;
    background-image: url(/assets/images/background.jpg);
}
.quiz-container{
    position: relative;
    margin: 40px 0 0 0;
    height: 12em;
    width: 24em;
    left: 26em;
    background-color: #f9f9f9e8;
    padding: 10px;
}

h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 34px;
    border: solid white;
    color: #fff;
    width: 21em;
    left: 12em;
    position: relative;
}

.h2{
    font-family: 'Libre Baskerville', serif;
    color: white;
}

#start_quiz{
    background-color: #11ff0696;
    position: absolute;
    top: 7em;
    left: 12.5em;
    padding: 10px;
    border-radius: 27%;
    text-decoration: none;
    color: black;
    font-size: 47px;
    border: solid white 6px;
}

#start_quiz:hover{
    background-color: #11ff0696;
    font-weight: bold;
    padding: 2em;
    top: 5.2em;
    left: 10.7em;
    font-size: 47px;
}

#circle{
    font-size: 11px;
    background-color: #fff;
    color: #000;
    width: 22em;
    left: 28em;
    position: absolute;
    border-radius: 50%;
    padding: 16px;
    top: 15em;
    z-index: 3;
    box-shadow: 0 0 7px 3px;
}

.question{
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}
.answers{
  text-align: left;
  margin-bottom: 20px;
  display: inline-block;
}
.answers label{
    display: block;
    margin-top: 14px;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
}

.slide{
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}

#results{
    color: white;
    font-size: 25px;
    background-color: black;
}

#feedback_button{
    background-color: white;
    position: absolute;
    top: 28em;
    left: 43em;
    padding: 10px;
    border-radius: 27%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#feedback_button:hover{
    background-color: rgba(255, 175, 2, 0.705);
    box-shadow:rgb(255, 175, 2) 0 0 10px 7px;
}

button{
    margin: 10px 91px 0 32px;
    padding: 20px;
	font-size: 22px;
	background-color: grey;
	color: #fff;
	border: 0px;
	border-radius: 15px;
	cursor: pointer;
	
}
button:hover{
	background-color: #01ff01a6;
    box-shadow: 0 0 10px 7px #01ff01;
}

#home_button{
    background-color: white;
    position: absolute;
    top: 28em;
    left: 30em;
    padding: 10px;
    border-radius: 27%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#home_button:hover{
    background-color: rgba(255, 2, 2, 0.705);
    box-shadow:rgb(255, 2, 2) 0 0 10px 7px;
}

/*---------------css for feedback----------------*/
.feedback_form{
    border: solid white 4px;
    width: fit-content;
    position: absolute;
    left: 19em;
    padding: 0px 50px 100px 50px;
    box-shadow: 0 0 7px 4px grey;
    background-color: #000000c7;
}

.label{
    display: block;
    color: white;
    padding: 9px 0 0 0;
}

#submit_form{
    font-family: 'M PLUS 1 Code', sans-serif;
    background-color: white;
    position: absolute;
    top: 23.4em;
    left: 17em;
    padding: 8px;
    border-radius: 27%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

#submit_form:hover{
    background-color: #01ff01a6;
    box-shadow: 0 0 10px 7px #01ff01;
}

#clear_form{
    font-family: 'M PLUS 1 Code', sans-serif;
    background-color: white;
    position: absolute;
    top: 23.4em;
    left: 25em;
    padding: 8px;
    border-radius: 27%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border: none;
}

#clear_form:hover{
    background-color: rgba(255, 175, 2, 0.705);
    box-shadow:rgb(255, 175, 2) 0 0 10px 7px;
}

#form_info{
    margin: 0 0 30px 0;
}

/*---------------@media sections----------------*/

@media screen and (max-width: 800px) {
    body {
        margin: 0;
        background-image: none;
        background-color: #000;
    }
    .quiz-container{
        font-size: 18px;
        position: relative;
        margin: 0;
        width: 80%;
        left:0em;
        top: 8em;
        padding: 20px 39px 50px 39px;
    }

    #start_quiz {
        left: 0;
    }
    #start_quiz:hover{
        background-color: #11ff0696;
        position: absolute;
        top: 7em;
        left: 0em;
        padding: 10px;
        border-radius: 27%;
        text-decoration: none;
        color: black;
        font-size: 47px;
        border: solid white 6px;
    }

    #circle {
        left: 5.5em;
        top: 7em;
    }

    h1 {
        left: 9%;
        width: 80%;
        margin: 15px 0 0 0;
    }

    #feedback_button {
        top: 37em;
        left: 10em;
    }

    #home_button {
        top: 37em;
        left: 5em;
    }

    #next {
        position: absolute;
        top: 27em;
        left: 12em;    
    }

    #previous {
        position: absolute;
        top: 27em;
        left: -1em;
    }

    #submit {
        position: absolute;
        top: 27em;
        left: 5em;
    }

    #results {
        position: absolute;
        top: 21em;
        left: 5em;
    }

    /*-----Feedback Form-----*/

    .feedback_form {
        left: 0;
        width: 72%;
        top: 4em;
        padding: 0 50px 50px 50px;
        border: none;
        box-shadow: none;
    }

    #form_info  {
        width: 23em;
    }

    #submit_form {
        position: absolute;
        top: 27.5em;
        left: 12em;
    }

    #clear_form {
        position: absolute;
        top: 27.5em;
        left: 5em;
    }
}

@media screen and (max-width: 400px) {

    #next {
        position: absolute;
        top: 27em;
        left: 10em;    
    }

    #previous {
        position: absolute;
        top: 27em;
        left: -1em;
    }

    #submit {
        position: absolute;
        top: 27em;
        left: 5em;
    }

    #feedback_button {
        top: 34.5em;
        left: 10em;
    }

    #home_button {
        top: 34.5em;
        left: 5em;
    }

 /*-----Feedback Form-----*/

    .feedback_form {
        width: 70%;
        padding: 0 50px 196px 50px;
        border: none;
        box-shadow: none;
    }

    #form_info  {
        width: 22em;
        left: 2em;
        position: absolute;
    }

    #submit_form {
        position: absolute;
        top: 27em;
        left: 10em;
    }

    #clear_form {
        position: absolute;
        top: 27em;
        left: 4.7em;
    }
    
}